<html ng-app="Social">
<head>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="../app/css/main.css"/>
</head>

<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavigationController">
    <div class="container">
        <div ng-show="!loggedIn"  class="row">
            <div class="col-sn-6 col-offset-3">
                <div class="row">
                    <strong>Email:</strong>
                    <input type="text" ng-model="login.email" class = "form-control">
                </div>
                <div class="row">
                    <strong>Password</strong>
                    <input type="password" ng-model="login.password" class="form-control">
                </div>
                <button ng-click="userLogIn()">Login</button>
                <a ui-sref ="signUp">Create</a>
            </div>
        </div>
        <div ng-show="loggedIn"><strong>You are now successfully logged in</strong>

            <a ui-sref="success">Proceed</a> </div>
    </div>
    <div><a ui-sref="main">asd</a> </div>
    <div ui-view> </div>

    <body>


    </body>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
    <script src="../app/app.js"></script>
    <script src="../app/navigation/navigation-controller.js"></script>
    <script src="../app/signup/signup-controller.js">  </script>
    <script src="../app/signup/web/success-controller.js"></script>
    <script src="../app/main/main-controller.js"></script>
</html>